.breadcrumb-container {
    position: relative;
    font-size: 14px;
}

.breadcrumb {
    position: absolute;
    display: flex;
    list-style: none;
    user-select: none;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    margin: 0 8px;
    color: var(--text-color);
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--secondary-color);
}

.breadcrumb-item.active {
    color: var(--text-color);
}

@media (min-width: 576px) {
    .breadcrumb {
        margin-top: 85px;
        margin-left: 30px;
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .breadcrumb {
        margin-top: 95px;
        margin-left: 40px;
    }
}

@media (min-width: 992px) {
    .breadcrumb {
        margin-top: 105px;
    }
}

@media (min-width: 1200px) {
    .breadcrumb {
        margin-left: 85px;
    }
}

@media (min-width: 1400px) {
    .breadcrumb {
        margin-top: 120px;
    }
}

@media (min-width: 1700px) {
    .breadcrumb {
        margin-top: 130px;
        margin-left: 120px;
    }
}
