.form {
    color: var(--text-color);
}

.camposObligatorios {
    text-align: end;
    padding-bottom: 10px;
    user-select: none;
}

.campoPrecalificarForm {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.campoPrecalificarForm select,
.campoPrecalificarForm input,
.campoPrecalificarForm textarea {
    padding-left: 10px;
    padding-right: 10px;
}

.campoPrecalificarForm label {
    user-select: none;
}

.formControl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    padding: 2px 0;
    margin-bottom: 15px;
    background-color: var(--background-color);
    box-shadow: 2px 2px 10px 2px var(--secondary-color);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    resize: none;
}

.formControl:focus {
    outline: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

.campoCheckboxForm {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding-bottom: 10px;
    font-size: 14px;
}

.checkBox {
    margin-right: 10px;
}

.labelError {
    color: red;
}

.contentEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.mensajeErrorGeneral {
    position: relative;
    display: flex;
    justify-content: center;
}

.mensajeErrorGeneral p {
    position: absolute;
    color: rgb(224, 52, 52);
    margin-top: 5px;
}

@media (min-width: 576px) {
    .camposSelect {
        display: flex;
        justify-content: space-between;
    }

    .camposSelect select {
        width: 210px;
    }

    .campoCheckboxForm {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .camposSelect select {
        width: 160px;
    }

    .campoCheckboxForm {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .camposSelect select {
        width: 190px;
    }

    .campoCheckboxForm {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .camposSelect select {
        width: 240px;
    }
}

@media (min-width: 1400px) {
    .formControl {
        padding: 5px 0;
    }
}

@media (min-width: 1700px) {
    .campoPrecalificarForm,
    .formControl,
    .campoCheckboxForm {
        font-size: 20px;
    }

    .camposSelect select {
        width: 290px;
    }
}
