.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 186, 186, 0.7), var(--background-color));
    min-height: 100dvh;
    padding-top: 90px;
    padding-bottom: 20px;
}

.sectionTitulo {
    color: var(--text-color);
    user-select: none;
    text-align: center;
}

.sectionTitulo h1 {
    font-size: 45px;
}

.sectionTitulo h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.sectionTitulo h3 {
    text-align: justify;
    width: 300px;
    font-size: 16px;
}

.sectionContenido {
    padding: 20px 0;
}

.imgSection4 {
    display: none;
}

.form {
    width: 320px;
}

.sectionContainer hr {
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background-color: var(--text-color);
    margin: 20px 0;
}

.sectionFooter p {
    font-size: 12px;
    width: 310px;
    text-align: justify;
    padding-bottom: 20px;
}

@media (min-width: 576px) {
    .sectionTitulo h2 {
        font-size: 20px;
    }

    .sectionTitulo h3 {
        width: 527px;
    }

    .form {
        width: 450px;
    }

    .sectionFooter p {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        padding-top: 80px;
    }

    .sectionTitulo h3 {
        width: 580px;
    }

    .sectionContenido {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 30px 0;
    }

    .imgSection4 {
        display: block;
        filter: drop-shadow(0px 0px 100px var(--secondary-color));
        user-select: none;
    }

    .form {
        width: 340px;
    }

    .sectionFooter p {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        padding-top: 90px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .form {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        gap: 80px;
    }

    .form {
        width: 500px;
    }

    .sectionFooter p {
        width: 1100px;
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-top: 100px;
    }

    .sectionTitulo h1 {
        font-size: 55px;
    }

    .sectionTitulo h2 {
        font-size: 22px;
    }

    .sectionTitulo h3 {
        font-size: 18px;
        width: 690px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding-top: 120px;
    }

    .sectionTitulo h1 {
        font-size: 65px;
    }

    .sectionTitulo h2 {
        font-size: 26px;
    }

    .sectionTitulo h3 {
        font-size: 20px;
        width: 770px;
    }

    .sectionContenido {
        gap: 100px;
    }

    .form {
        width: 600px;
    }

    .sectionFooter p {
        width: 1400px;
        font-size: 16px;
    }
}
