.sectionContainer {
    background-image: linear-gradient(to bottom, rgba(248, 186, 186, 0.7), var(--background-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 100dvh;
}

.sectionTitulo {
    color: var(--text-color);
    user-select: none;
    text-align: center;
}

.sectionTitulo h1 {
    font-size: 45px;
}

.sectionTitulo h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.sectionTitulo h3 {
    text-align: justify;
    width: 320px;
    font-size: 16px;
}

.contenidoAdicional {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 452px);
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-color);
}

.filterSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    padding: 2px 4px;
    background-color: var(--background-color);
    box-shadow: 2px 2px 10px 2px var(--secondary-color);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    width: 250px;
}

.filterSelect:focus {
    outline: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

.sectionTabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.sectionCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serviceButton {
    position: relative;
    overflow: visible;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: start;
    text-decoration: none;
    color: var(--text-color);
    border-style: solid;
    border-color: var(--text-color);
    box-shadow: 0px 4px 10px var(--secondary-color);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
    width: 320px;
    height: 100px;
}

.serviceButton::after {
    content: '';
    position: absolute;
    bottom: -0px;
    left: -2px;
    width: 316px;
    height: 10px;
    background: var(--background-color);
    border-style: solid;
    border-color: var(--text-color);
    border-width: 0px 2px 2px 2px;
    box-shadow: 0px 4px 10px var(--secondary-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: translateY(0);
    pointer-events: none;
    z-index: -1;
}

.hoverActivo:hover::after {
    transform: translateY(12px);
}

.detailCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    border-style: solid;
    border-color: var(--text-color);
    box-shadow: 0px 4px 10px var(--secondary-color);
    background-image: linear-gradient(to bottom, rgba(248, 186, 186, 0.7), var(--background-color));
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-width: 0px 2px 2px 2px;
    user-select: none;
    padding: 10px;
    width: 320px;
}

.detailCard p {
    padding-bottom: 10px;
}

.detailCard h4 {
    font-size: 22px;
}

.detailCard li {
    text-align: start;
    margin-left: 30px;
    padding-top: 10px;
}

.paquetesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    gap: 20px 0px;
    padding: 10px 0;
}

.paquetesContainer div {
    border: 2px solid;
    border-color: var(--text-color);
    box-shadow: 0px 4px 10px var(--secondary-color);
    border-radius: 20px;
    padding: 10px 0;
    width: 280px;
}

.paquetesContainer h5 {
    font-size: 20px;
    padding-bottom: 10px;
}

.paquetesContainer p {
    padding-bottom: 10px;
}

.botonAgendar {
    padding: 20px 0;
}

.cerrarDetalle {
    display: flex;
    justify-content: center;
}

.botonCerrar {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.2s ease;
}

.botonCerrar:hover {
    color: var(--secondary-color);
}

.sectionContainer hr,
.detailCard hr {
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background-color: var(--text-color);
    margin: 20px 0;
}

.detailCard hr {
    width: 100%;
}

@media (min-width: 576px) {
    .sectionTitulo h2 {
        font-size: 20px;
    }

    .sectionTitulo h3 {
        width: 527px;
    }

    .contenidoAdicional {
        min-height: calc(100vh - 473px);
    }

    .filterSelect {
        width: 360px;
    }

    .sectionTabla {
        padding: 30px 0;
    }

    .serviceButton {
        width: 450px;
    }

    .serviceButton::after {
        width: 446px;
    }

    .detailCard {
        width: 450px;
    }

    .paquetesContainer div {
        width: 350px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        padding-top: 80px;
    }

    .sectionTitulo h3 {
        width: 570px;
    }

    .contenidoAdicional {
        min-height: calc(100vh - 491px);
    }

    .filterSelect {
        width: 510px;
    }

    .sectionCards {
        gap: 30px;
    }

    .serviceButton {
        width: 700px;
    }

    .serviceButton::after {
        width: 696px;
    }

    .detailCard {
        padding: 20px;
        width: 700px;
    }

    .paquetesContainer {
        gap: 0px 20px;
    }

    .paquetesContainer div {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        padding-top: 90px;
    }

    .contenidoAdicional {
        min-height: calc(100vh - 503px);
    }

    .serviceButton {
        width: 800px;
    }

    .serviceButton::after {
        width: 796px;
    }

    .detailCard {
        width: 800px;
    }

    .detailCard li {
        margin-left: 60px;
    }

    .paquetesContainer {
        padding: 30px 0;
    }

    .paquetesContainer div {
        width: 230px;
    }
}

@media (min-width: 1200px) {
    .contenidoAdicional {
        min-height: calc(100vh - 506px);
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-top: 100px;
    }

    .sectionTitulo h1 {
        font-size: 55px;
    }

    .sectionTitulo h2 {
        font-size: 22px;
    }

    .sectionTitulo h3 {
        font-size: 18px;
    }

    .contenidoAdicional {
        min-height: calc(100vh - 559px);
    }

    .cardContainer h3 {
        font-size: 20px;
    }

    .serviceButton {
        width: 1000px;
        height: 150px;
    }

    .serviceButton::after {
        width: 996px;
    }

    .detailCard {
        width: 1000px;
    }

    .detailCard p {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .detailCard ul {
        padding-bottom: 20px;
    }

    .detailCard li {
        margin-left: 150px;
        font-size: 18px;
    }

    .paquetesContainer {
        gap: 0px 40px;
    }

    .paquetesContainer div {
        width: 280px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding-top: 120px;
    }

    .sectionTitulo h1 {
        font-size: 65px;
    }

    .sectionTitulo h2 {
        font-size: 26px;
    }

    .sectionTitulo h3 {
        font-size: 20px;
    }

    .contenidoAdicional {
        min-height: calc(100vh - 672px);
    }

    .filterContainer,
    .filterSelect {
        font-size: 18px;
    }

    .serviceButton {
        width: 1350px;
        height: 200px;
    }

    .serviceButton::after {
        width: 1346px;
    }

    .detailCard {
        width: 1350px;
        padding: 30px 100px;
    }

    .detailCard li {
        margin-left: 100px;
    }

    .paquetesContainer div {
        width: 340px;
    }
}
