.sectionContainer {
    background-image: linear-gradient(to bottom, rgba(248, 186, 186, 0.7), var(--background-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionTitulo {
    padding: 20px 0;
    width: 340px;
}

.sectionTitulo,
.sectionFinal p {
    color: var(--text-color);
    user-select: none;
}

.sectionTitulo h2 {
    padding-bottom: 5px;
    font-size: 29px;
}

.sectionTitulo h3 {
    font-size: 18px;
}

.sectionCategorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 20px;
    padding-bottom: 20px;
}

.sectionCategorias a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 30px;
    width: 320px;
    border: solid 2px var(--text-color);
    box-shadow: 0px 4px 10px var(--secondary-color);
    border-radius: 10px;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.sectionCategorias a:nth-child(1) {
    background-image: url('/src/assets/images/landing/section2/categoria1/fondo-1-categoria-landing-2.1.webp');
}

.sectionCategorias a:nth-child(2) {
    background-image: url('/src/assets/images/landing/section2/categoria2/fondo-2-categoria-landing-2.1.webp');
}

.sectionCategorias a:nth-child(3) {
    background-image: url('/src/assets/images/landing/section2/categoria3/fondo-3-categoria-landing-2.1.webp');
}

.sectionCategorias a:hover {
    transform: scale(0.95);
}

.categoriaOverlay {
    width: 60%;
    height: 100%;
    border-radius: 7px;
    background: linear-gradient(to right, rgba(254, 228, 197, 0.8), rgba(254, 228, 197, 0.5), rgba(254, 228, 197, 0));
    padding-left: 10px;
}

.sectionFinal,
.sectionFinal p {
    padding-bottom: 20px;
}

.sectionContainer hr {
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background-color: var(--text-color);
}

@media (min-width: 576px) {
    .sectionTitulo {
        width: 400px;
    }

    .sectionTitulo h3 {
        font-size: 20px;
    }

    .sectionCategorias a {
        font-size: 35px;
        width: 450px;
        height: 80px;
    }

    .sectionFinal {
        width: 550px;
    }

    .sectionFinal p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .sectionCategorias {
        flex-direction: row;
        gap: 80px;
        padding-bottom: 0px;
    }

    .sectionCategorias a {
        display: flex;
        align-items: end;
        justify-content: end;
        font-size: 20px;
        width: 150px;
        height: 200px;
    }

    .sectionCategorias a:nth-child(1) {
        background-image: url('/src/assets/images/landing/section2/categoria1/fondo-1-categoria-landing-2.2.webp');
    }

    .sectionCategorias a:nth-child(2) {
        background-image: url('/src/assets/images/landing/section2/categoria2/fondo-2-categoria-landing-2.2.webp');
    }

    .sectionCategorias a:nth-child(3) {
        background-image: url('/src/assets/images/landing/section2/categoria3/fondo-3-categoria-landing-2.2.webp');
    }

    .categoriaOverlay {
        display: flex;
        align-items: end;
        justify-content: start;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(254, 228, 197, 0.7), rgba(254, 228, 197, 0.2), rgba(254, 228, 197, 0));
    }

    .sectionFinal p {
        padding: 20px 0;
    }
}

@media (min-width: 992px) {
    .sectionTitulo {
        width: 900px;
    }

    .sectionTitulo h2 {
        font-size: 35px;
    }

    .sectionCategorias {
        gap: 100px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo {
        width: 1200px;
    }

    .sectionTitulo h2 {
        font-size: 40px;
    }

    .sectionTitulo h3 {
        font-size: 22px;
    }

    .sectionCategorias {
        gap: 120px;
    }

    .sectionCategorias a {
        font-size: 22px;
        width: 200px;
        height: 220px;
    }

    .sectionCategorias a:nth-child(1) {
        background-image: url('/src/assets/images/landing/section2/categoria1/fondo-1-categoria-landing-2.3.webp');
    }

    .sectionCategorias a:nth-child(2) {
        background-image: url('/src/assets/images/landing/section2/categoria2/fondo-2-categoria-landing-2.3.webp');
    }

    .sectionCategorias a:nth-child(3) {
        background-image: url('/src/assets/images/landing/section2/categoria3/fondo-3-categoria-landing-2.3.webp');
    }

    .sectionFinal {
        padding-bottom: 30px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo h2 {
        font-size: 45px;
    }

    .sectionCategorias {
        gap: 140px;
    }

    .sectionCategorias a {
        font-size: 28px;
        height: 300px;
    }

    .sectionCategorias a:nth-child(1) {
        background-image: url('/src/assets/images/landing/section2/categoria1/fondo-1-categoria-landing-2.4.webp');
    }

    .sectionCategorias a:nth-child(2) {
        background-image: url('/src/assets/images/landing/section2/categoria2/fondo-2-categoria-landing-2.4.webp');
    }

    .sectionCategorias a:nth-child(3) {
        background-image: url('/src/assets/images/landing/section2/categoria3/fondo-3-categoria-landing-2.4.webp');
    }
}

@media (min-width: 1700px) {
    .sectionTitulo,
    .sectionFinal {
        width: 1700px;
    }

    .sectionTitulo h2 {
        font-size: 55px;
    }

    .sectionTitulo h3 {
        font-size: 28px;
    }

    .sectionCategorias {
        gap: 160px;
    }

    .sectionCategorias a {
        width: 250px;
        height: 350px;
    }

    .sectionCategorias a:nth-child(1) {
        background-image: url('/src/assets/images/landing/section2/categoria1/fondo-1-categoria-landing-2.5.webp');
    }

    .sectionCategorias a:nth-child(2) {
        background-image: url('/src/assets/images/landing/section2/categoria2/fondo-2-categoria-landing-2.5.webp');
    }

    .sectionCategorias a:nth-child(3) {
        background-image: url('/src/assets/images/landing/section2/categoria3/fondo-3-categoria-landing-2.5.webp');
    }

    .sectionFinal p {
        font-size: 22px;
    }
}
