@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ce6d7c;
    --secondary-color: #b12f47;
    --background-color: #fee4c5;
    --text-color: #3a3a3a;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

/* -------------------------------------------------------------------------- FUENTES */

.bold-text-montserrat {
    font-family: 'Montserrat', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 700;
}

.light-text-montserrat {
    font-family: 'Montserrat', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 400;
}

.bold-text-lato {
    font-family: 'Lato', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 700;
}

.light-text-lato {
    font-family: 'Lato', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 400;
}

.dancing-text {
    font-family: 'Dancing Script', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 400;
}

.pacifico-text {
    font-family: 'Pacifico', serif;
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: 400;
}

/* -------------------------------------------------------------------------- NAVBAR */

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(95deg, var(--primary-color) 50%, #ca8892);
    color: var(--text-color);
    box-shadow: 0 4px 10px var(--shadow-color);
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-navbar {
    height: 60px;
    width: auto;
    margin-top: 4px;
    padding-left: 20px;
    user-select: none;
    pointer-events: none;
}

.menu-nav {
    display: none;
}

.redes-container-navbar {
    display: none;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-icon {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 40px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 100;
}

.mobile-nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(150deg, var(--background-color) 50%, #f3e2ce);
    padding-top: 80px;
    box-shadow: -4px 0 10px var(--shadow-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 98;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu ul {
    list-style: none;
}

.mobile-nav-menu li {
    text-align: end;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 24px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

.close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    z-index: 100;
}

.container-bajo-mobile {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.logo-mobile-menu,
.redes-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-container,
.redes-container-navbar {
    gap: 9px;
}

.redes-container img,
.redes-container-navbar img {
    width: 32px;
    user-select: none;
    pointer-events: none;
}

.redes-container a:hover,
.redes-container-navbar a:hover {
    scale: 0.9;
}

.logo-mobile-menu img {
    height: 100px;
    user-select: none;
    pointer-events: none;
}

.link-container:hover {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0), #df92a5 100%, #e26786);
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: var(--text-color);
}

.menu-nav li a:hover {
    color: var(--background-color);
}

.menu-nav li a.active:hover {
    color: var(--text-color);
}

.menu-nav li a.active,
.burger-menu-nav li a.active {
    font-weight: bold;
}

.menu-nav li a:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    opacity: 0.5;
    transition: width 0.3s ease;
}

/* -------------------------------------------------------------------------- LANDING PAGE */

.landing-container {
    overflow: hidden;
}

/* ---------------------------------------------- SECTION 1 LP */

.section-1-lp-container {
    height: 100vh;
    background-color: #b12f47;
    background-image: url('/src/assets/images/fondolanding/fondo landing cel 1.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    padding-top: 70px;
}

.section-1-titulo {
    padding-left: 15px;
}

.section-1-titulo h1,
.section-1-titulo h2 {
    color: var(--text-color);
}

.section-1-titulo h1 {
    font-size: 45px;
}

.section-1-titulo h2 {
    font-size: 16px;
}

/* -------------------------------------------------------------------------- FOOTER */

.footer {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 150px;
    background: linear-gradient(95deg, #ca8892, var(--primary-color) 80%);
    box-shadow: 0px -4px 10px var(--shadow-color);
    color: var(--background-color);
}

.img-logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-footer img {
    height: 40px;
    pointer-events: none;
    user-select: none;
}

.poli-copy {
    padding-top: 5px;
}

.poli-copy a {
    text-decoration: none;
    user-select: none;
    color: var(--text-color);
}

.tamir-2025 {
    user-select: none;
    pointer-events: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- QUERIS */

@media (min-width: 576px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */
    .logo-navbar {
        padding-left: 30px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-icon {
        right: 40px;
    }

    .mobile-nav-menu {
        width: 40%;
    }

    .mobile-nav-menu li {
        padding-right: 40px;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing cel 2.webp');
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 70px;
        padding-left: 40px;
    }

    .menu-nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        user-select: none;
    }

    .linea-separadora {
        margin-left: 10px;
        user-select: none;
    }

    .redes-container-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
    }

    .burger-menu {
        display: none;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing cel 3.webp');
        padding-top: 80px;
    }
}

@media (min-width: 992px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 80px;
    }

    .menu-nav {
        gap: 15px;
        font-size: 24px;
    }

    .linea-separadora {
        margin-left: 15px;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing cel 4.webp');
        padding-top: 90px;
    }
}

@media (min-width: 1200px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        padding-left: 85px;
    }

    .menu-nav {
        font-size: 26px;
    }

    .linea-separadora {
        margin-left: 20px;
    }

    .redes-container-navbar {
        padding-right: 85px;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing web 1.webp');
    }
}

@media (min-width: 1400px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 90px;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing web 2.webp');
        padding-top: 100px;
    }
}

@media (min-width: 1700px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 100px;
        padding-left: 120px;
    }

    .menu-nav {
        gap: 25px;
        font-size: 30px;
    }

    .linea-separadora {
        margin-left: 25px;
    }

    .redes-container-navbar {
        padding-right: 120px;
    }

    /* ---------------------------------------------- SECTION 1 LP */

    .section-1-lp-container {
        background-image: url('/src/assets/images/fondolanding/fondo landing web 3.webp');
        padding-top: 110px;
    }
}
